.main{
  background: url("../assets/bg.jpg");
}
.carousel{
  width: 100%;
}
.firstElement{fill:url(#svgFirst);}
.secondElement{fill:url(#svgSecond);}
.thirdElement{fill:url(#svgThird);}
.lastElement{fill:#FFFFFF;}
.st0{fill:#21A5DE;}
.st1{fill:#FFFFFF;}
.st2{fill:url(#SVGID_1_);}
.st3{fill:#FCD13D;}
.st4{fill:url(#SVGID_2_);}
.st5{fill:#E54D25;}
.st6{fill:url(#SVGID_3_);}
.st7{fill:#E8474C;}
.st8{fill:url(#SVGID_4_);}
.st9{fill:#E73864;}
.st10{fill:url(#SVGID_5_);}
.st11{fill:#B03288;}
.st12{fill:url(#SVGID_6_);}
.st13{fill:#1B6CB1;}
.st14{fill:url(#SVGID_7_);}
.st15{fill:#108BC9;}
.st16{fill:url(#SVGID_8_);}
.st17{fill:url(#SVGID_9_);}
.st18{fill:#F6EB74;}
.st19{fill:#1D5F9E;}
.st20{fill:#F0A228;}
.lines{fill:#FFFFFF;}